<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="head">&#x4ECA;&#x65E5;&#x89C6;&#x7EBF;</header>
    <article class="body">
        <article class="video-display">
                <video id="video_display_area" name="_cutvPlayer" class="video" src="/videos/shantou/2018-08-24-shantou-all.mp4" controls="controls" autoplay="autoplay">
                    your browser does not support the video tag
                    </video>
            <!-- <embed id="video_display_area" name="_cutvPlayer" class="video" src="http://player.cutv.com/player.php/pid/G15fgfflggkgnnmfmoigct/v.swf"
                quality="high" width="94%" height="80%" align="middle" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash"></embed> -->
        </article>
        <article class="video-list">
            <p class="video-list-title">&#x64AD;&#x653E;&#x5217;&#x8868;</p>
            <ul id="video_list_area">
                <li>
                    <div class="video-short-img">
                        <a href="/videos/shantou/2018-08-24-shantou-all.mp4">
                            <img src="http://videoimage1.cutv.com/originfileg/010061_i/2018/08/24/G17/G17hihhniimkmiihoknhy8_2b.jpg" alt="&#x7B80;&#x7565;&#x56FE;&#x7247;" srcset="">
                        </a>
                    </div>
                    <div class="video-info">
                        <span class="video-title">
                            <a href="/videos/shantou/2018-08-24-shantou-all.mp4">&#x501F;&#x8D37;&#x5371;&#x673A; </a>
                        </span>
                        <span class="video-time">2018-08-24</span>
                        <span class="is-watch">No Watch</span>
                    </div>
                </li>
                <li>
                    <div class="video-short-img">
                        <a href="">
                            <img src="http://videoimage1.cutv.com/originfileg/010061_i/2018/02/19/G16/G16ghggmhhlhpgjpnglrol_3b.jpg" alt="&#x7B80;&#x7565;&#x56FE;&#x7247;" srcset="">
                        </a>
                    </div>
                    <div class="video-info">
                        <span class="video-title">
                            <a href="">&#x65B0;&#x6625;&#x6B22;&#x4E50;&#x79C0;</a>
                        </span>
                        <span class="video-time"> 2018-02-18</span>
                        <span class="is-watch">No Watch</span>
                    </div>
                </li>
                <li>
                    <div class="video-short-img">
                        <a href="">
                            <img src="http://videoimage1.cutv.com/originfileg/010061_i/2018/02/19/G16/G16ghggmhhlhpgjpnglrol_3b.jpg" alt="&#x7B80;&#x7565;&#x56FE;&#x7247;" srcset="">
                        </a>
                    </div>
                    <div class="video-info">
                        <span class="video-title">
                            <a href="">&#x65B0;&#x6625;&#x6B22;&#x4E50;&#x79C0;</a>
                        </span>
                        <span class="video-time"> 2018-02-18</span>
                        <span class="is-watch">No Watch</span>
                    </div>
                </li>
                <li>
                    <div class="video-short-img">
                        <a href="">
                            <img src="http://videoimage1.cutv.com/originfileg/010061_i/2018/02/19/G16/G16ghggmhhlhpgjpnglrol_3b.jpg" alt="&#x7B80;&#x7565;&#x56FE;&#x7247;" srcset="">
                        </a>
                    </div>
                    <div class="video-info">
                        <span class="video-title">
                            <a href="">&#x65B0;&#x6625;&#x6B22;&#x4E50;&#x79C0;</a>
                        </span>
                        <span class="video-time"> 2018-02-18</span>
                        <span class="is-watch">No Watch</span>
                    </div>
                </li>
               
            </ul>
        </article>
    </article>
    <footer class="foot">DSBDO &#x5236;&#x4F5C;&#x4E8E;2018-02-20</footer>
    <script src="/javascripts/index.js"></script>


</body></html>